In [62]:
import pandas as pd

In [63]:
df = pd.read_csv("Telco_Customer_Churn_Dataset  (3).csv")

In [64]:
df['tenure_group'] = pd.cut(df['tenure'], 
bins=[0,12,24,48,72], 
labels=['0-1 year','1-2 years','2-4 years','4-6 years'])

In [65]:
df['charges_group'] = pd.cut(df['MonthlyCharges'],
 bins=[0,35,70,120],
labels=['low','Medium','High'])

In [66]:
df['Contract'] = df['Contract'].str.strip()

In [67]:
df['Contract'].value_counts()

Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64

In [68]:
df.groupby('Contract')['Churn'].value_counts(normalize=True) * 100

Contract        Churn
Month-to-month  No       57.290323
                Yes      42.709677
One year        No       88.730482
                Yes      11.269518
Two year        No       97.168142
                Yes       2.831858
Name: proportion, dtype: float64

In [69]:
high_risk = df[
    (df['tenure'] < 12) &
    (df['MonthlyCharges'] > 70) &
    (df['Contract'] == 'Month-to-month')
]

In [70]:
high_risk.shape

(814, 23)

In [71]:
high_risk[['tenure', 'MonthlyCharges', 'Contract', 'Churn']].head()

    tenure  MonthlyCharges        Contract Churn
4        2           70.70  Month-to-month   Yes
5        8           99.65  Month-to-month   Yes
31       2           95.50  Month-to-month    No
39      11           97.85  Month-to-month   Yes
47       2           80.65  Month-to-month   Yes

In [72]:
high_risk['Churn'].value_counts(normalize=True) * 100

Churn
Yes    69.53317
No     30.46683
Name: proportion, dtype: float64